<!-- 
<router-outlet></router-outlet> -->

<app-menu-slider></app-menu-slider>


<section class='intro container-fluid ' id="intro">
    <div class="intro-container">
        <h1 class="header-intro" [ngClass]="{'showAvatar': showAvatar}">Full Stack Developer</h1>
        <img src="../assets/images/Avatar-2.png" alt="Avatar" class="avatar" [ngClass]="{'showAvatar': showAvatar}">
        <div class="blockquote ">
            <p><em>People enjoy the interaction on the Internet, and the feeling of belonging to a group that does
                    something
                    interesting: that's how some software projects are born.</em></p>

            <p class="blockquote-footer">Linus Torvalds </p>
        </div>
    </div>
</section>

<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<h1>Hello</h1>
<script>

</script>
