<!-- 
<router-outlet></router-outlet> -->

<app-menu-slider></app-menu-slider>


<section class='intro container-fluid ' id="intro">
    <div class="intro-container">
        <h1 class="header-intro" [ngClass]="{'showAvatar': showAvatar}">Hey, I'm Moises :)</h1>
        <img src="../assets/images/Avatar-2.png" alt="Avatar" class="avatar" [ngClass]="{'showAvatar': showAvatar}">
        <div class="blockquote ">
            <p><em>People enjoy the interaction on the Internet, and the feeling of belonging to a group that does
                    something
                    interesting: that's how some software projects are born.</em></p>

            <p class="blockquote-footer">Linus Torvalds </p>
        </div>
    </div>
    <div class="scrollDown">
        <i class="fas fa-angle-double-down" #scrollDownArrow></i>
    </div>
</section>



<section id="skills" class="skills">
    <div class="header ">
        <h1><i class="fas fa-tools mr-3"></i>Skills</h1>
    </div>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12 section">
                <img src="https://andrewborstein.com/assets/img/bootstrap.png" alt="">
                <img src="https://andrewborstein.com/assets/img/angular.png" alt="">
                <img src="https://andrewborstein.com/assets/img/css3.png" alt="">
                <img src="https://andrewborstein.com/assets/img/html5.png" alt="">
                <!-- <img src="https://andrewborstein.com/assets/img/nodejs.png" alt=""> -->
            </div>
            <div class="col-md-12 section">
                <h1></h1>
            </div>
            <div class="col-md-12 section">
                <h1></h1>
            </div>
        </div>
    </div>
</section>
<section id="skills" class="skills">
    <div class="header ">
        <h1><i class="fas fa-tools mr-3"></i>Skills</h1>
    </div>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12 section">
                <img src="https://andrewborstein.com/assets/img/bootstrap.png" alt="">
                <img src="https://andrewborstein.com/assets/img/angular.png" alt="">
                <img src="https://andrewborstein.com/assets/img/css3.png" alt="">
                <img src="https://andrewborstein.com/assets/img/html5.png" alt="">
                <!-- <img src="https://andrewborstein.com/assets/img/nodejs.png" alt=""> -->
            </div>
            <div class="col-md-12 section">
                <h1></h1>
            </div>
            <div class="col-md-12 section">
                <h1></h1>
            </div>
        </div>
    </div>
</section>
